body,
html {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: inherit;
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto;
    font-family: system-ui;
    text-align: center;
}

.output {
    height: 100px;
    margin-top: 10px;
    overflow: auto;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}